<!-- Pages/Shared/_Layout.cshtml -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FirebirdWeb</title>

    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    
</head>

<body>
    <!-- NO HEADER -->

    <!-- PAGE CONTENT -->
    <main class="page-shell">
        <div class="page-card">
            @RenderBody()
        </div>
    </main>

  
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
